*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Navbar */

.navContainer {
  background-color: gray;
  padding: 2rem;;
}

.button-purple {
  padding:1rem;
  background-color: blueviolet;
}

.button-gray {
  padding:1rem;
  background-color: rgba(190, 161, 218, 0.322);
}
